* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open-Dyslexic', sans-serif;
  background-color: #333333;
  color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}
